body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0px; padding: 0px; }
h1,h2,h3, h4, h5, h6 { font-weight: normal; }
i, em, var { font-style: normal; }
ul,ol,li ,dl{ list-style:none; }
body, input, textarea, select, button { font-family: "微软雅黑"; color: rgb(51, 51, 51); font-size: 12px; text-rendering: optimizelegibility; font-feature-settings: "liga", "kern"; }
img { border: 0px none; display: block; }
button, input, select, textarea { font-size: 100%; }
body { background-image: url('undefined'); background-attachment: fixed; }
.site{width: 100%; margin: 0 auto;}
a{text-decoration: none;  cursor: pointer;}
/*头部*/
#site_top{height: 40px;background: #323232;line-height:40px;}
#site_top .tp_1{float: left;padding-left: 15px;}
#site_top .tp_1 .topNav{margin-left:15px; color: #bfbfbf; float: left;}
#site_top .tp_1 .topNav span{float: left; width: 20px; height:20px;margin: 11px 6px 0px 0px;}
#site_top .tp_1 .topNav .bg1{background: url(../img/ico_index.png)no-repeat -74px 0;}
#site_top .tp_1 .topNav .bg2{background: url(../img/ico_index.png)no-repeat -49px 0;}
#site_top .tp_1 .topNav .bg3{background: url(../img/ico_index.png)no-repeat -24px 0;}
#site_top .tp_1 .topNav .bg4{background: url(../img/ico_index.png)no-repeat 0 0;}
#site_top .topNav:hover{ text-decoration: underline; color: #fff; cursor: pointer;}

#site_top .fr{float: right;}
#site_top .fr a{color: #bfbfbf;}
#site_top .fr .tp_2{float: left;}
#site_top .fr .tp_2 .span{background:url(../img/line.jpg)no-repeat right center;}
#site_top .fr .tp_2 .s1{padding:0 20px 0 0;}
#site_top .fr .tp_2 .s2{padding:0 20px 0 18px;}
#site_top .fr .tp_2 .bg4{float:left; width:14px; height: 12px; background: url(../img/ico_index.png)no-repeat -107px -65px;margin: 14px 5px 0 0;}
#site_top .fr .tp_3 {float: left; position: relative;}
#site_top .fr .tp_3 .s3{background:url(../img/line.jpg)no-repeat right center; }
#site_top .fr .tp_3 .s3 .topNav{margin: 0 5px 0 27px;}
#site_top .fr .tp_3 .s3 .topNav .bg6{float:right; width:9px; height: 5px; background: url(../img/ico_index.png)no-repeat -101px 0;margin: 19px 28px 0 0;}
#site_top .fr .tp_3 .account_list{position: absolute;width: 80px; height: 145px; padding:0 9px 0 9px; top: 10px;left: 17px; display: none; z-index:2}
#site_top .fr .tp_3 .account_list a{float:left; line-height: 24px; color: black;}
#site_top .fr .tp_3 .account_list .a_fist{display:inline-black;}
#site_top .fr .tp_3 .account_list .a_fist span{float:right; width:9px; height: 5px; background: url(../img/ico_index.png)no-repeat -101px 0; margin: 9px 0 0 5px;}
#site_top .fr .tp_4 {float: left; position: relative;}
#site_top .fr .tp_4 .span_s{float: left; height: 40px; background: url(../img/phone.jpg)no-repeat 7px 15px;margin: 0 18px;}
#site_top .fr .tp_4 .a_t{padding-left: 18px;}
#site_top .fr .tp_4 .bg6{float:right; width:9px; height: 5px; background: url(../img/ico_index.png)no-repeat -101px 0;margin: 19px 32px 0 4px;}
#site_top .fr .tp_4 .app_code{position: absolute; top: 30px; right:18px; display: none; z-index: 2;}
/* 导航栏 */
#nav{height: 100px; border-bottom: 1px solid #ddd; position: relative;}
#nav .logo{float: left; padding:25px  0 0 19px;}
#nav .nav_ul{float: left; padding-left: 4px; height: 100%; display: inline-block;}
#nav .nav_ul .nav_li{line-height: 100px; float: left; margin-left: 21px; position: relative;}
#nav .nav_ul .nav_li .p1_id{font-size: 16px; line-height: 100px; text-align: center;}
#nav .nav_ul .nav_li .p1_id a{color: #333; text-decoration: none;}
#nav .nav_ul .nav_li a:hover{color: red;}

#nav .nav_right{float: right; display: inline;margin: 25px 28px 0 0; position: relative; z-index: 1;}
.nav_right .nav_search{height: 20px; position: absolute; top: 15px; right: 50px;}
.nav_right .nav_search a{background-color: #eee; color: #777; float: left; margin-right: 10px; padding: 2px 5px; text-decoration: none;font-size: 12px}
.nav_right .nav_search a:hover{background: #cc0000;}
.nav_right .search_input{border: 1px solid #e0e0e0; float: left; height: 48px; line-height: 48px; padding: 0 5px; width: 218px;}
.nav_right .search_btn{background: #fff url("../img/ico_index.png") no-repeat scroll -144px -64px; display: inline-block; float: left; height: 48px; width: 49px;border: 1px solid #e0e0e0;border-left:0}
.nav_right .search_btn:hover{background: #cc0000 url("../img/ico_index.png") no-repeat scroll -144px -64px;}
/*下拉菜单*/
#me_id{display :none;height: 320px; width: 2192.7%;}
.select a:hover{color: #ec1111; }
.same_th{background: #fff;}
.select{position: absolute; left: -228px; top: 101px;  z-index: 2222;}
.select .menu{box-shadow: 0 4px 4px #d5d5d5; width: 100%; height: 100%;}
.select .menu .child{float:left; width: 380px; height: 140px; margin-left: 35px; padding-top: 14px;}
.select .menu .child a{text-decoration: none;}
.select .menu .child h2{line-height: 50px; border-bottom: solid 1px #e3e3e3;}
.select .menu .child h2 a{font-size: 18px; color: #666;}
.select .menu .child .p2_id{line-height: 28px;padding-top: 8px;}
.select .menu .child .p2_id a{ margin-right: 22px;color: #666; }

#kit_id{position: absolute; left: -398px; top: 101px; z-index: 2222;display: none; width: 2192.7%;}
.kit_nav{height: 250px; padding-left: 28px;}
.kit_nav li{float: left; padding-left: 28px;}
.kit_nav .li_class{min-width: 584px; width: 46%;background: url(../img/fenjie.png) no-repeat right 5px;}
.kit_nav .div1_id{width: 250px; height: 250px;float: left;}
.kit_nav .div1_id img{height: 100%; width: 100%;}
.kit_nav .div2_id{float:left; padding: 19px 0 0 20px;}
.kit_nav .div2_id .p3_id{line-height: 103px; font-size: 15px; }
.kit_nav .div2_id a{text-decoration: none;}
.kit_nav .div2_id .p3_id a{color: #333;}
.kit_nav .div2_id .p3_id a:hover{color: #ec1111;}
.kit_nav .div2_id .span1{display:block; line-height: 34px; color: #cc1111; font-size: 18px;}
.kit_nav .div2_id .span1 a{color: #d01111}
.kit_nav .div2_id .span2{display: block; height: 38px;  position: relative; z-index: 1; width: 120px;}
.kit_nav .div2_id .span2 a{display:block; text-decoration: none;  background: #D01111; width: 120px; height: 38px; position: absolute; top: 0; left: 0; z-index: 2; line-height: 38px; color: #fbf8f8; text-align: center;} 
.kit_nav .div2_id .span2 a:hover{background-color:rgba(236,17,17,0.3); color: #fff; }
/*购物车*/
.prodIntro{background: #f8f8f8;}
.prodIntro .wrap{width:1226px; overflow: hidden; padding-bottom: 30px; margin:0 auto;}
.isEmpty{background:url(../image/empryCart.jpg) no-repeat 0 135px; height: 100px; line-height: 100px; margin: 0 auto; padding: 185px 0 215px 455px; width: 325px;}
.isEmpty h2 {color: #b2b2b2; font-size: 32px;}
.isEmpty .redBtn { display: block; font-size: 14px; height: 52px; line-height: 50px; text-align: center; width: 175px; color: #fff; background: #f00;}
.shoopping_car_class{overflow: hidden;}
.shopCarTitle { color: #666; font-size: 20px; height: 60px; line-height: 80px;}
.shopCarList { background: #fff none repeat scroll 0 0; margin-bottom: 20px;}
.cartList { background: #fff ; color: #333; margin-top: 20px; width: 100%;}
table a{color: #000}
table { border-collapse: collapse; border-spacing: 0;}
td { border-top: 1px solid #e6e6e6; font-size: 16px; padding: 20px 0; text-align: center; vertical-align: middle;}
.shopCarList .cartItemeSel { padding-left: 40px; position: relative; text-align: left; width: 50px;}
.cartList thead th { font-size: 14px; font-weight: normal; height: 60px;}
.checkbox.on { background:url("../image/ico_detail.png") no-repeat -436px -404px; height: 20px; width: 20px;}
.checkbox { border: 1px solid #e6e6e6; cursor: pointer; float: left; margin-right: 5px;}
.checkbox input { cursor: pointer; display: block; height: 18px; opacity: 0; outline: medium none; width: 18px;}
.shopCarList .cartItemeSel em { left: 65px; position: absolute; width: 30px;}
.shopCarList .cartItemeSel { padding-left: 40px; position: relative; text-align: left; width: 50px;}
tbody td, tfoot td{padding: 20px 0;}
.shoppingCar .cartListName { line-height: 48px; padding-left: 0; text-align: left;}
.shoppingCar .img{ border: 1px solid #e6e6e6; float: left; height: 48px; margin-right: 20px; width: 48px;}
.shoppingCar .img img {width: 100%; height: 100%;}
.shoppingCar .name{font-size: 14px; line-height: 25px; white-space: normal; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 190px;} 
.amount { border: 1px solid #e6e6e6; display: inline-block; height: 38px; line-height: 38px; margin-top: 4px; overflow: hidden; width: 120px;}
.amount .minus { background-position: -2px -342px;}
.amount a { background:url( ../image/ico_detail.png) no-repeat  0 0; float: left; height: 40px; width: 30px;}
.amount input{ border: none; float: left; font-size: 18px; height: 40px; line-height: 40px; text-align: center; width: 60px;}
.amount .plus { background-position: -51px -343px;}
.ItemTotal { color: #f00;}
.cartRemove { background:url(../image/ico_detail.png) no-repeat -2px -396px; display: inline-block; height: 30px; width: 30px;}
.clearShopCar { display: inline-block; margin-left: 20px;}

.CartTips { padding: 15px 40px; position: relative; height: 22px;}
.CartTips .fl { color: #666; line-height: 17px; padding-bottom: 5px;}
.fl { display: inline; float: left;}
.CartTips .fl h6 { font-size: 12px; font-weight: 700;}
.CartTips .fr { padding-bottom: 5px; text-align: right;}
.fr { display: inline; float: right;}
.priceColor { color: #ff0000;}
.CartAccount { border-top: 1px solid #e6e6e6; color: #808080; font-size: 14px; line-height: 40px; padding: 15px 40px; position: relative; height: 40px;}
.CartAccount .fl a { color: #808080;}
.CartAccount .fr {padding-right: 200px;}
.CartAccount .priceColor {margin: 0 5px;}
.CartAccount .fr strong {font-size: 24px;}
.CartAccount .redBtn {font-size: 16px;height: 40px;line-height: 40px; right: 40px;top: 15px;width: 200px;}
.fpSubmit {background: #bf0f0f ; font-size: 18px; height: 50px; position: absolute; right: 0; text-align: center; top: 0; width: 220px; color: #fff;}


/* 下部内容 */
.site_footer{padding: 50px 0; background: #f3f3f3 url(../img/footer-bg.png)no-repeat 100% 100%; overflow: hidden; height: 164px;}
.box{margin: 0 auto; width: 1000px;overflow: hidden; }
.box .site_left{ display: inline;float: left; margin-left: 92px; width: 204px; height: 100px;}
.box .site_left h2{overflow: hidden;}
.box .site_left p{line-height: 20px; padding-top: 14px;}
.box .site_right{display: inline; float: right; margin-right: 70px; width: 500px; height: 164px;}
.box .site_right h4{line-height: 20px; font-size: 12px;}
.box .site_right p{text-indent: 2em; line-height: 20px;}
/*最底下内容*/
.modify{height: 266px;}
.bottom{width: 800px; height: 186px; margin: 0 auto; padding-top: 20px;}

.bottom ul{height: 100%;}
.bottom ul li{float: left;padding-left: 27px; width: 172px; height: 100%;}
.bottom ul .li{ background: url(../img/line2.jpg)no-repeat top right;}
.bottom ul .li a{text-decoration: none; color:#777;}
.bottom ul .li a:hover{color: #CC0000;} 
.bottom ul .li dl{height: 100%;}
.bottom ul .li dl dt{color: #333; font-size: 18px; margin-bottom: 3px;}
.bottom ul .li dl dd{font-size: 14px; line-height: 28px; height: 28px;}
.bottom ul .li dl dd i{float: left; height: 16px; margin: 6px 5px 0 0; width: 25px;}
.America{background: url(../img/ico-country.png)no-repeat 0 -128px;}
.Polska{background: url(../img/ico-country.png)no-repeat 0 -320px;}
.Malaysia{background: url(../img/ico-country.png)no-repeat 0 -32px;}
.tata{background: url(../img/footer_ico.png)no-repeat -4px -173px;}
.li dl dd .f_attention{ margin: 5px 25px 8px 0;float: left; height: 17px; overflow: hidden; width: 68px;background:url(../img/footer_ico.png)no-repeat;}
.li dl dd .wechat{background-position: 0 0;}
.li dl dd .f_wb{background-position: 0 -30px;}
.li dl dd .f_facebook{background-position: 0 -57px;}
.li dl dd .f_twitte{background-position: 0 -86px;}
.li dl dd .f_youtube{background-position: 0 -113px;}

.modify_pic{float: left; margin:0 5px 5px 0; height: 28px; width: 77px;background:url(../img/BG.png)no-repeat;}
.modify_copy{font-size: 9px; line-height: 21px;}
.modify_copy a{text-decoration: none; color: #333;}
.bg2{background-position:  -77px 0;}
.bg3{background-position:  -154px 0;}
.bg4{background-position:  -231px 0;}
.bg5{background-position:  -308px 0;}
.bg6{background-position:   0 -28px;}
.foot_links{line-height: 60px;}
.foot_links span{margin-right: 10px; float: left;}
.foot_links a{color: #808080; float: left; font-size: 12px; margin: 0 16px;  text-decoration: none;}
.foot_links a:hover{color: #CC0000;} 











